/* -------------------------------
  Variables
------------------------------- */
:root {
  --baseunit: 8px;
  --color-bg-primary: #000000;
  --color-text-primary: #f1ffff;
  --color-borders: #6180b2;
  --color-lever1: #e545c3;
  --color-lever2: #26b3d3;
}
